@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.itemList li{
    list-style: none;
    margin: 0 0 0 40px;
    font-family: 'Righteous', sans-serif;
    padding-top: 30px;
}
.item li {
    list-style: none;
    margin: 0 0 0 50px;
    font-family: 'Righteous', sans-serif;
    padding-left: 10px;
}